@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s;
    font-family: 'Raleway', sans-serif;
}

#quote-box {
    width: 550px;
}